@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap");
body {
    background-color: rgba(0, 0, 0, 0.6);
    font-family: "Ysabeau Infant", sans-serif; /* filter: blur(5px); */
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 10px;
    text-decoration: none !important;
    margin: 6px;
    text-decoration: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.active {
    background-color: rgba(0, 0, 0, 0.1);
}
.dataTables_wrapper .dataTables_paginate .paginate_button a {
    text-decoration: none !important;
    color: black;
}

th,
table {
    color: black !important;
}
.border-top-check {
    border-top: 2px solid black !important;
}
#backdrop {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgb(255, 255, 255, 1);
}

#backdrop .spinner-border {
    display: block;
    position: fixed;
    top: calc(50% - (58px / 2));
    right: calc(50% - (58px / 2));
    color: red;
}
.row-flex {
    display: flex;
    flex-wrap: wrap;
}
.dt-buttons .dt-button {
    border-radius: 2px;
    color: white;
    background-color: RGBA(28, 200, 138, 1) !important;
    border-radius: 8px;
    font-weight: bolder;
}
@media (max-width: 767.98px) {
    /* Mobile devices */
    .text-size-md {
        font-size: 13px !important; /* Small font size for mobile */
    }
    .badge {
        font-size: 13px !important;
    }
}

@media (min-width: 768px) {
    /* Desktop devices */
    .text-size-md {
        font-size: 16px !important; /* Larger font size for desktop */
    }
    .badge {
        font-size: 14px !important;
    }
}

label {
    font-weight: bolder;
}
h5 {
    font-weight: bolder;
}
